{% extends 'layouts/main.html' %}
{% block title %}Home{% endblock %}
{% block content %}

<div class="page-header">
  <h1>Sticky footer with fixed navbar</h1>
</div>
<p class="lead">Hi im Kyle Roux, im a web developer and this is my blog.Sometimes ill have code like this</p><br />
<pre>
def hello_world(name=None):
    if name is None:
        name = 'World'
    print "hello {}".format(name)
</pre>
<p>But usally ill just ramble, so if you want to read check out my blog, or if you wanna play check out my games.</p>

{% endblock %}
