<!doctype html>
<html>
    <head>
        <meta charset="utf-8"/>
        <title>{% if title %}{{ title }}{% else %}Level2Blog{% endif %}</title>
        {% block styles %}{% endblock styles %}
        {% block javascripts %}{% endblock javascripts %}
        {% block extra_head %}{% endblock extra_head %}
        <style>
            .header { text-align: center;}
            .copyright { font-size: 75%; position: fixed; bottom: 20px; left: 20px;}
            li
            { 
                display: inline; float: center; padding: 10px 20px 0 5px; margin: 5px; 
            }
           .main-nav 
            {
                border-bottom: 2px inset blue; position: absolute; top: 70px; left: 430px;
            }
        </style>
    </head>
    <body>
        <div class="header">
            {% block header %}{% endblock header %}
        </div> <!-- end header -->
        <div class="main-nav">
            {% block main_nav %}{% endblock main_nav %}
        </div> <!-- end main-nav -->
        <div class="meta-nav">
            {% if home_link %}
                <a href="{{ url_for('index') }}">back home</a>
            {% endif %}
            {% if back_link %}
                <a href="javascript: history.go(-1)">back</a>
            {% endif %}
            {% block meta_nav %}{% endblock meta_nav %}
        </div>
        <div class="content">
            {% block content %}{% endblock content %}
        </div> <!-- end content -->
        <div class="sidebar">
            {% block sidebar %}{% endblock sidebar %}
        </div> <!-- end sidebar -->
        <div class="footer">
            {% block footer %}{% endblock footer %}
        </div> <!-- end footer -->
        <div class="copyright">
            &copy;2014-Kyle Roux / Level2Designs /
        </div>
    </body>
</html>

