{% extends "base.html" %}
{% block main_nav %}
<ul class="navlist" style="list-style:none; display: inline;">
    <li class="navitem" id="nav-1">
    <a href="{{ url_for('index') }}">home</a>
    </li>
    <li class="navitem" id="nav-2">
    <a href="{{ url_for('blog') }}">blog</a>
    <li class="navitem" id="nav-3">
    <a href="{{ url_for('about_us') }}">about us</a>
    </li>
    <li class="navitem" id="nav-4">
    <a href="{{ url_for('contact_us') }}">contact us</a>
    </li>
</ul>
{% endblock main_nav %}
{% block content %}{% endblock content %}
